/*common style start*/
.section-title {
  h2 {
    text-transform: capitalize;
    font-size: 1.8em;
    text-align: center;
    color: $primary;
  }
}
.blank-space {
  height: 55px;
}
/*common style end*/