footer {
  background: $primary;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
  text-transform: capitalize;
  -webkit-box-shadow: 0 -5px 10px;
  -moz-box-shadow: 0 -5px 10px;
  box-shadow: 0 -5px 10px #999;
  z-index: 10;
  a {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
  }
}